{% extends "base.html" %}

{% block content %}
<table
        style="margin-left: -127px; text-align: left; width: 700px; height: 40px; background-color: #DEF0F7; "
        border="0" cellpadding="0" cellspacing="2">
    <tbody>
    <tr>
        <td style="text-align: center; background-color: #98E8FF;"><a style="color: #323232;" href="/info">
            О сайте</a></td>
        <td style="text-align: center;"><a style="color: #646464;" href="/main">
            На главную</a></td>
        <td style="text-align: center;"><a style="color: #646464;" href="/search">
            Поиск</a></td>
        <td style="text-align: center;"><a style="color: #646464;" href="/categories">
            Категории</a></td>
        <td style="text-align: center;"><a style="color: #646464;" href="/map">
            Карта</a></td>
        <td style="text-align: center;"><a style="color: #646464;" href="/rating">
            Рейтинг мест</a></td>
    </tr>
    </tbody>
</table>

<br>
<div style="text-align: justify;"><big>&nbsp;&nbsp;&nbsp;В годы Второй мировой войны, несмотря на то, что
    фашисты поставили задачу стереть Москву с лица земли, город удалось отстоять и избежать глобальных разрушений.
    Достичь этого удалось ценой невероятного самопожертвования и личного подвига миллионов людей. Город бережно хранит
    память о трагических событиях и своих героях, отдавших жизни ради спасения других.</big></div>
<br>
<div style="text-align: justify;"><big>&nbsp;&nbsp;&nbsp;Мы составили список таких мест Москвы с описанием,
    чтобы Вы смогли ближе познакомиться с родным городом. Этот сайт поможет открыть для себя много новых, интересных
    мест, новые факты из истории Москвы.</big></div>

<br>
{% endblock %}